name: Generate Pac-Man

on:
  schedule:
    # 每天自动运行一次
    - cron: "0 0 * * *" 
  workflow_dispatch:
  push:
    branches:
    - master
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    
    steps:
      - name: Generate Pac-Man Graph
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}
          # 默认会生成在 dist/ 目录下，文件名就是 pacman-contribution-graph.svg
      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: dist
